* {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 760px;
}

/* Mobile Styles */
input[type=submit] {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #0077c0;
  color: #fff;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  letter-spacing: 0.6px;
  padding-top: 1px;
}

h1 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #006ea0;
  font-family: HelveticaNeue-light;
  margin: 23px 80px 10px 20px;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-bottom: 13px;
  color: #3e3d3f;
  margin-top: 4px;
}

h4 {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 0.2px;
  color: #3e3d3f;
}

input {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #a6a6a6;
  font-size: 14px;
}

label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  height: 20px;
  color: #3e3d3f;
}

.inputForRange {
  flex: 30%;
  text-align: center;
  padding-left: 0 !important;
}

.line-separator {
  border-top: 2px solid #cacaca;
  margin-left: 20px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
}

.line-separator-2 {
  border-top: 2px solid #cacaca;
  margin-top: 4px;
  margin-bottom: 15px;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 100px;
  background: #cacaca;
  outline: none;
  margin-top: 17px;
  border: none;
  margin-right: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 2px 0;
  cursor: pointer;
}

input[type=text] {
  padding-left: 27px;
}

input[type=range] {
  padding-left: 0;
  margin-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, #0077c0), color-stop(0.5, #cacaca));
}

.left {
  flex: 50%;
  padding-right: 10px;
}

.right {
  flex: 50%;
  padding-left: 10px;
}

.range {
  display: flex;
  margin-bottom: 9px;
  margin-top: -2px;
}

.label-value {
  padding: 13px 13px 0 0;
  font-size: 14px;
}

.less {
  padding-right: 5px;
}

.container {
  margin: 20px 10px 0 10px;
  padding: 16px 20px 20px 20px;
  min-width: 300px;
  max-width: 820px;
  min-height: 431px;
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 5;
}

.result {
  color: #3e3d3f;
  margin: 0 10px;
  min-width: 300px;
  background-color: #eaf6fa;
  padding: 20px 20px 14px 20px;
  position: relative;
  z-index: -5;
}
.result__row {
  border-bottom: 2px solid #b2b2b2;
  padding: 14px 0 14px;
}
.result__row p {
  font-size: 12px;
  letter-spacing: normal;
  display: inline-block;
}
.result__row span {
  font-size: 14px;
  float: right;
  display: inline-block;
}
.result div:last-child {
  margin-top: 2px;
  border: none;
}
.result div:last-child span {
  font-size: 18px;
}
.result div:nth-child(2) {
  margin-bottom: 1px;
}

.hide {
  display: none;
}

.col {
  display: flex;
  flex-wrap: wrap;
}
.col input {
  margin-top: 6px !important;
  padding-top: 0px !important;
}
.col .static-value {
  top: 37px !important;
}

.form-input {
  margin-bottom: 4px;
  margin-top: 15px;
  position: relative;
}
.form-input input {
  margin-top: 4px;
  padding-top: 2px;
}
.form-input:after {
  content: attr(caption);
  display: block;
  color: #da3535;
  font-size: 10px;
  font-weight: bold;
}
.form-input .error {
  border-color: #da3535;
}

.toggle {
  overflow: hidden;
  max-height: 1800px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.toggle.collapsed {
  max-height: 0;
  padding: 0px 20px 0px 20px;
}

.static-value {
  font-weight: normal;
  position: absolute;
  left: 14px;
  top: 36px;
  font-size: 14px;
}

.fixed {
  left: 25px;
}

/* Desktop Styles */
@media only screen and (min-width: 818px) {
  input[type=submit] {
    margin-top: 16px;
    height: 45px;
    font-size: 16px;
  }

  body {
    height: 100%;
  }

  input[type=text] {
    padding-left: 35px;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 26px;
  }

  h4 {
    font-size: 16px;
    margin-top: -1px;
    margin-bottom: 9px;
  }

  label {
    font-size: 14px;
  }

  input {
    font-size: 16px;
    height: 45px;
  }

  #insurance {
    border-bottom: 2px solid #cbcbcb;
    padding-bottom: 23px;
  }

  .line-separator {
    border-top: 1px solid #cacaca;
    width: 820px;
  }

  .line-separator-2 {
    margin-bottom: 34px;
  }

  .range {
    margin-bottom: 16px;
  }

  .form-input:after {
    content: attr(caption);
    font-size: 12px;
  }
  .form-input input {
    margin-top: 5px;
  }

  .col {
    margin-top: 4px;
  }
  .col .static-value {
    top: 38px !important;
  }
  .col input {
    margin-top: 5px !important;
  }

  .label-value {
    font-size: 16px;
  }

  .slider {
    margin-top: 19px;
  }

  .container {
    margin: 15px 0 97px 70px;
    display: inline-block;
    padding: 34px 39.5px 39.5px 39.5px;
    max-width: 470px;
  }

  .hide {
    display: block;
    color: #3e3d3f;
    opacity: 0.2;
  }

  .toggle {
    overflow: visible;
    padding: 20px;
  }

  .toggle.collapsed {
    max-height: 1800px;
    padding: 34px 40px 0 40px;
  }

  .static-value {
    left: 20px;
    top: 39px;
  }

  .fixed {
    left: 30px;
  }

  .inputForRange {
    margin-top: -1px;
    flex: 25%;
  }

  .result {
    margin: 56px 0 0 -3px;
    min-width: 277px;
    display: inline-block;
    padding: 34px 40px 8px 40px;
    vertical-align: top;
  }
  .result__row {
    border: none;
    padding: 10px 0 10px;
  }
  .result__row p {
    padding-bottom: 4px;
    font-size: 14px;
    display: block;
  }
  .result__row span {
    font-size: 14px;
    padding-bottom: 10px;
    float: right;
    display: block;
    font-size: 18px;
    font-weight: bold;
    float: none;
  }
  .result div:nth-child(4) {
    margin-top: 1px;
  }
  .result div:nth-child(5) {
    margin: 5px 0 15px 0;
  }
  .result div:nth-child(5) p {
    font-size: 18px;
  }
  .result div:nth-child(5) span {
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
